@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

.btn-primary {
    background-color: rgb(138, 5, 190);
    border-radius: 6.25rem;
    border: 0;
    width: 185px;
    height: 48px;
    font-weight: bold;
    margin-right: 32px;
    margin-left: 5px;
}
.btn-primary:hover {
    transition: 600ms;
    background-color: rgb(147, 28, 194);
}

#nav-header {
    padding: 0 0 0 32px;
    height: 80px;
    width: 100%;

}

.item a {
    padding: 0px 12px;
    font-weight: bold;
    color: rgba(17, 17, 17, 0.7);
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    justify-content: space-between;
}
.item .link:hover {
    color:rgb(172, 100, 201);
}
.nav-links a span img {
    margin: 0 0 0 5px;
    background-color: rgb(148, 95, 168);
    border-radius: 4px;
}
.nav-links {
    padding: 0 0;
    margin: 0 0;
}
.nav-links a {
    padding: 0px 12px;
    font-weight: bold;
    color: rgb(138, 5, 190);
    text-decoration: none;
    list-style: none;
    font-size: 17px;
}
